.productOwnership {
    .pagetitle {
        background-color: #f8f9fa;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: var(--color-orange-500);
    }
}